@page
@using Microsoft.Data.SqlClient
@model MoodTracker.Pages.MoodEntries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index"
                   asp-route-sortColumn="@IndexModel.DATE_COLUMN_STRING"
                   asp-route-sortOrder="@(Model.CurrentSortOrder == SortOrder.Ascending ? SortOrder.Descending : SortOrder.Ascending)">
                    @Model.DateColumnTitle
                </a>
            </th>
            <th>
                <a asp-page="./Index" 
                   asp-route-sortColumn="@IndexModel.SCORE_COLUMN_STRING"
                   asp-route-sortOrder="@(Model.CurrentSortOrder == SortOrder.Ascending ? SortOrder.Descending : SortOrder.Ascending)">
                    @Model.ScoreColumnTitle
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoodEntry[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MoodEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoodScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
